<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<style>
    .recentcontainer,
    .normalcontainer,
    .moderatecontainer,
    .extremecontainer {
        display: none;
    }
</style>

<body>
    <div class="buttons">
        <input type="radio" id="recent" name="recent" value="recent">
        <label for="recent">Recent</label>
        <input type="radio" id="normal" name="recent" value="normal">
        <label for="normal">Normal</label>
        <input type="radio" id="moderate" name="recent" value="moderate">
        <label for="moderate">Moderate</label>
        <input type="radio" id="extreme" name="recent" value="extreme">
        <label for="extreme">Extreme</label>
    </div>
    <!-- Recent -->
    <div class="recentcontainer">
        <h1>Recent</h1>
        <div class="users">
            <%for(let i=0; i < recent.length;i++){%>
                <div class="person">
                    <h4>Name - <%= recent[i].name%>
                    </h4>
                    <p>Gender - <%= recent[i].gender%>
                    </p>
                    <p>Age - <%= recent[i].age%>
                    </p>
                    <p>Contact - <%= recent[i].contact%>
                    </p>
                    <p>Reading - <%= recent[i].reading%>
                    </p>
                    <p>Time - <%= recent[i].time%>
                    </p>
                </div>
                <%}%>
        </div>
    </div>
    <!-- Normal -->
    <div class="normalcontainer">
        <h1>Normal</h1>
        <div class="users">
            <%for(let j=0; j < normal.length;j++){%>
                <div class="person">
                    <h4>Name - <%= normal[j].name%>
                    </h4>
                    <p>Gender - <%= normal[j].gender%>
                    </p>
                    <p>Age - <%= normal[j].age%>
                    </p>
                    <p>Contact - <%= normal[j].contact%>
                    </p>
                    <p>Reading - <%= normal[j].reading%>
                    </p>
                    <p>Time - <%= normal[j].time%>
                    </p>
                </div>
                <%}%>
        </div>
    </div>
    <!-- Moderate -->
    <div class="moderatecontainer">
        <h1>Moderate</h1>
        <div class="users">
            <%for(let k=0; k < moderate.length;k++){%>
                <div class="person">
                    <h4>Name - <%= moderate[k].name%>
                    </h4>
                    <p>Gender - <%= moderate[k].gender%>
                    </p>
                    <p>Age - <%= moderate[k].age%>
                    </p>
                    <p>Contact - <%= moderate[k].contact%>
                    </p>
                    <p>Reading - <%= moderate[k].reading%>
                    </p>
                    <p>Time - <%= moderate[k].time%>
                    </p>
                </div>
                <%}%>
        </div>
    </div>
    <!-- Extreme -->
    <div class="extremecontainer">
        <h1>Extreme</h1>
        <div class="users">
            <%for(let l=0; l < extreme.length;l++){%>
                <div class="person">
                    <h4>Name - <%= extreme[l].name%>
                    </h4>
                    <p>Gender - <%= extreme[l].gender%>
                    </p>
                    <p>Age - <%= extreme[l].age%>
                    </p>
                    <p>Contact - <%= extreme[l].contact%>
                    </p>
                    <p>Reading - <%= extreme[l].reading%>
                    </p>
                    <p>Time - <%= extreme[l].time%>
                    </p>
                </div>
                <%}%>
        </div>
    </div>




</body>
<script>
    const recentBtn = document.querySelector("#recent");
    const normalBtn = document.querySelector("#normal");
    const moderateBtn = document.querySelector("#moderate");
    const extremeBtn = document.querySelector("#extreme");


    recentBtn.addEventListener("click", function () {
        document.querySelector(".recentcontainer").style.display = "block";
        document.querySelector(".normalcontainer").style.display = "none";
        document.querySelector(".moderatecontainer").style.display = "none";
        document.querySelector(".extremecontainer").style.display = "none";
    })

    normalBtn.addEventListener("click", function () {
        document.querySelector(".recentcontainer").style.display = "none";
        document.querySelector(".normalcontainer").style.display = "block";
        document.querySelector(".moderatecontainer").style.display = "none";
        document.querySelector(".extremecontainer").style.display = "none";
    })

    moderateBtn.addEventListener("click", function () {
        document.querySelector(".recentcontainer").style.display = "none";
        document.querySelector(".normalcontainer").style.display = "none";
        document.querySelector(".moderatecontainer").style.display = "block";
        document.querySelector(".extremecontainer").style.display = "none";
    })

    extremeBtn.addEventListener("click", function () {
        document.querySelector(".recentcontainer").style.display = "none";
        document.querySelector(".normalcontainer").style.display = "none";
        document.querySelector(".moderatecontainer").style.display = "none";
        document.querySelector(".extremecontainer").style.display = "block";
    })
</script>

</html>